{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {% for service in photos %}
            {% if service.name == 'Instagram' %}
                <div class="card w-100 text-center m-3"><h1 class="card-body">Instagram</h1></div>
                {% for photoArray in service.photos %}
                    <div class="column">
                        {% for photo in photoArray %}
                            <div class="card m-2">
                                <a class="aphoto" href="{{ path("instagramOnePhoto", {"photoId": photo.id}) }}"><img
                                            class="card-img-top"
                                            src="{{ photo.url }}">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ photo.text }}</h5>
                                        <div class="card-text float-left" style="width: 50%;">
                                            <i class="icon-heart"></i>Likes: {{ photo.likes }}
                                        </div>
                                        <div class="card-text float-left" style="width: 50%;">
                                            <i class="icon-comment"></i>Comments: {{ photo.comments }}
                                        </div>
                                        <p class="card-text"><small
                                                    class="text-muted">Created: {{ photo.createdtime }}</small></p>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}

            {% endif %}

            {% if service.name == 'Google Photos' %}
                <div class="card w-100 text-center m-3"><h1 class="card-body">Google Photos</h1></div>
                {% for photoArray in service.photos %}
                    <div class="column">
                        {% for photo in photoArray %}
                            <div class="card my-2">
                                <a class="aphoto"
                                   href="{{ path('google_photos_single_media_from_all', {'mediaId': photo.id}) }}"><img
                                            class="card-img-top" src="{{ photo.url }}">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ photo.text }}</h5>
                                        <p class="card-text"><small
                                                    class="text-muted">Created: {{ photo.createdtime }}</small>
                                        </p>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endif %}

        {% endfor %}
    </div>
{% endblock %}